<%- include('../layouts/main-layout.ejs')  %>

    <main>
        <h1 class="my-product">My Products</h1>
        <% if( pdts.length > 0 ) { %>
          <% for(let i = 0; i < pdts.length; i++) { %>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                <%= pdts[i].title %>
              </button>
            </h2>
            <div id="collapse_<%= i %>" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <%= pdts[i].desc %>
              </div>
            </div>
          </div>
        </div>
          <% } %>
        <% } else { %>

          <h1>No Products Found</h1>

        <% } %>

    </main>


<%- include('../layouts/footer.ejs') %>